<template>
  <div id="glContainer" class="EngineContainer">
    <canvas id="glCanvas"></canvas>
  </div>
</template>

<script>
// import {testScene} from '../engine/Tests/Test'
// import {testScene} from '../engine/Tests/TestOnDemandRendering'
// import {testScene} from '../engine/Tests/TestAntialias'
import {testScene} from '../engine/Tests/TestIntersection'

export default {
  name: 'HelloWorld',
  mounted () {
    testScene(document.querySelector('#glCanvas'), document.querySelector('#glContainer'))
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.EngineContainer{
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.EngineContainer canvas{
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
}
</style>
